<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="shortcut icon" type="image/png" href="favicon.png">

<!--  Essential META Tags -->
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ site.texture.tagline }}">
<meta property="og:image" content="https://theclouddevopslearningblog.com{{site.bannerimage}}" />
<meta property="og:url" content="https://theclouddevopslearningblog.com">
<meta name="twitter:card" content="summary_large_image">
<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="The Cloud DevOps Learning Blog">
<meta name="twitter:image:alt" content="Banner for The Cloud DevOps Learning Blog">

<title>{{ page.title | default: site.title }}</title>
{% seo %}