<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>

        <!-- Configure Disqus -->
        {% if page.comments %}
            <div id="disqus_thread" style="margin-top:25px"></div>
            <script>
                var disqus_config = function () {
                this.page.url = '{{ page.url | absolute_url }}';
                this.page.identifier = '{{ page.id | default: page.url }}';
                };
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://the-cloud-devops-learning-blog.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
        {% endif %}
  </main>
  {%- include footer.html -%}
</body>
</html>