---
layout: default
---
<div id="reading-progress"></div>

<div class="post-header">
  <div class="post-header-meta">
    {%- if page.categories.first -%}
    <span class="tag">{{ page.categories.first }}</span>
    {%- endif -%}
    {{ page.date | date: "%-d %b %Y" }}
  </div>
  <h1>{{ page.title | escape }}</h1>
</div>

<div class="post-body">
  <article class="post-content" id="post-content">
    {{ content }}
    {%- if page.comments -%}
    <div id="disqus_thread" style="margin-top:56px"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.id | default: page.url }}';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://the-cloud-devops-learning-blog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the comments powered by Disqus.</noscript>
    {%- endif -%}
  </article>

  <aside class="post-toc" id="post-toc">
    <span class="post-toc-label">On this page</span>
    <ul id="toc-list"></ul>
  </aside>
</div>
